<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Error</h1>
    <% if(errorReason.length > 0) { %>
      <p> Reasons </p>
      <ul>
        <% for(i = 0; i < errorReason.length; i++){ %>
          <p> <%= errorReason[i].name %></p>
        <% } %>
      </ul>
    <% } %>
  </body>
</html>
