<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome</h1>

    <form method="get" action="/listshows">
      <label for="user">Username:</label><br>
      <input type="text" id="user" name="user" value=""><br />
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
